@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --citrine: #c6c013;
  --persimmon: #f45d01;
  --hookers-green: #627C85;
  --licorice: #191516;
  --honeydew: #FDFFFC;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
